/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
        #baseline corrections
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* Typography (baseline corrections)
================================================== */
    h1 { line-height: 49px; margin-bottom: 14px;}
    h2 { line-height: 42px; margin-bottom: 7px; }
    h3 { line-height: 35px; margin-bottom: 7px; }
    h4 { line-height: 28px; margin-bottom: 7px; }
    h5 { line-height: 21px; }
    
/* Blockquotes */
    blockquote, blockquote p { line-height: 21px;}
    blockquote { margin:  0 0 21px; padding: 7px 20px 0 19px; }
    
/* Lists (baseline corrections)
================================================== */
    ul, ol { margin-bottom:  21px; }
    ul ul, ul ol,
    ol ol, ol ul { margin: 7px 0 7px 30px; }
    ul ul li, ul ol li,
    ol ol li, ol ul li { margin-bottom: 7px; }
    li { line-height: 21px; margin-bottom: 14px; }
    
/* #Site Styles
================================================== */

*
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*bands*/
.band
{
    background: url(../images/bg_main.png) repeat #f8f8f8;
}

.band.navigation
{
    background: url(../images/stitch_hr.png) repeat-x,
                url(../images/bg_dark.png) repeat,
                #343434;
}

.band.footer
{
    background: url(../images/stitch_large.png) repeat-x,
                url(../images/bg_dark.png) repeat,
                #343434;
    padding: 49px 0 14px 0;
    color: #e0e0e0;
}

.band.bottom
{
    background: url(../images/stitch_staggered.png) repeat-x,
                url(../images/bg_bottom.png) repeat,
                #343434;
    padding: 28px 0 7px 0;
    color: #e0e0e0;
}

/*heading*/
header.main
{
    padding: 35px 0;
}

header h1.logo
{
    margin: 7px 0 0 0;
    float: left;
}

header h1.logo a
{
    width: 114px;
    height: 119px;
    display: block;
    background: url(../icons/icon114.png) no-repeat 0 0;
    
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

/*navigation*/
nav.primary ul,
nav.primary ul li
{
    margin: 0px;
}

nav.primary select
{
    display: none;
    width: 100%;
    height: 22px;
    margin: 21px 0;
}

nav.primary ul li
{
    display: inline;
    float: left;
    position: relative;
}

nav.primary ul li a
{
    display: inline-block;
    line-height: 49px;
    padding: 0 14px;
    color: #ebebeb;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.08em;
}

nav.primary ul li a:hover
{
    background: #424242;
    cursor: pointer;
}

/*sub-menu*/
nav.primary ul ul
{
    position: absolute;
    z-index: 999;
    background: url(../images/bg_bottom.png);
    
    height: 0px;
    overflow: hidden;
    
    min-width: 100%;
    
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

nav.primary ul li span
{
    display: none;
}

nav.primary ul li:hover ul
{
    height: auto;
    overflow: auto;
}

nav.primary ul ul li
{
    float: none;
    display: list-item;
    border-bottom:  1px solid #383737;
}

nav.primary ul ul li a
{
    display: block;
    line-height: 35px;
    text-transform: none;
}

nav.primary ul li:hover > a
{
    background: #424242;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
            nav.primary select
            {
                display: block;
            }
            nav.primary ul
            {
                display: none;
            }
        }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/